@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font-size: 16px;
}


.title {
  @apply opacity-100;

}

p {
  @apply opacity-75 mb-2;
  @apply text-justify;

}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

code {
  @apply max-lg:overflow-scroll;
  scroll-behavior: smooth;
  @apply max-lg:text-xs
}


h1 {
  @apply lg:text-4xl text-3xl font-bold mt-10;

}

li {
  @apply list-disc font-medium;

}

ul {
  @apply my-4 px-4;

}



.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 60%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  @apply bg-red-600;
  transform: rotate(2deg);
  top: 10px;
  left: 0px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}